<div class="form-visualization">
  <a routerLink="/login">Go back</a>
  <span class="form-icon"><fa name="user"></fa></span>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" [hidden]="submitted">

  <section class="form-block">
    <div class="form-group">
      <label for="empEmail"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-md" [class.invalid]="isFieldValid('email')">
        <!--[class.invalid]="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)">-->
        <input class="email" type="text" id="empEmail" placeholder="E-mail"
               required
               name="firstName"
               formControlName="email">
        <span class="tooltip-content" *ngIf="isFieldValid('email')">
          <span class="field-error" *ngIf="loginForm.get('email').errors['required']">E-mail is Required.</span>
          <span class="field-error" *ngIf="loginForm.get('email').errors['email']">Wrong E-mail address.</span>
        </span>
      </label>
    </div>
    <div class="form-group">
      <label for="empPassword"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-md" [class.invalid]="isFieldValid('password')">
        <!--[class.invalid]="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)">-->
        <input class="password" type="password" id="empPassword" placeholder="Password"
               required
               name="password"
               formControlName="password">
        <span class="tooltip-content" *ngIf="isFieldValid('password')">
          <span class="field-error" *ngIf="loginForm.get('password').errors['required']">Password Name is Required.</span>
          <span class="field-error" *ngIf="loginForm.get('password').errors['minlength']">Password must be mor 6 symbols.</span>
        </span>
      </label>
    </div>
    <button class="btn btn-primary" type="submit"
            [disabled]="loginForm.invalid">Login</button>
  </section>

</form>