
<!--<div class="balances-all">
  <div class="balance-single" *ngFor="let item of balancesAllChange; let i = index" [class]="item.status">
    <span>{{i+1}}</span>
    <span>{{item?.address}}</span>
    <span>{{item?.balance}}</span>
    <span>{{item?.difference}}</span>
  </div>
</div>-->


<mat-tab-group>

  <mat-tab label="Addresses Changes">
    <ccc-addresses [matchAddresses]="matchAddresses"></ccc-addresses>
  </mat-tab>

  <mat-tab label="Total Changes">
    <ccc-total></ccc-total>
  </mat-tab>

</mat-tab-group>