@import '~global.scss';


*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html{
  font-size: $fz + px;
}
body{
  @include fluidFontSize(14px,18px,480px,1680px,22px,16px);
  text-rendering: optimizeSpeed;
}
li{
  list-style-type: none;
}

/*GLOBAL MARKERS*/
.positive{
  background-color: $green;
}
.negative{
  background-color: $red;
}
.new{
  background-color: $teal;
}